@font-face {
  font-family: Almarai-B;
  src: url(./font/Almarai-Bold.ttf);
}

@font-face {
  font-family: PressStart2P;
  src: url(./font/PressStart2P-Regular.ttf);
}

#playerscore,
#computerscore {
  font-family: PressStart2P, cursive;
}

#result {
  font-family: PressStart2P, cursive;
}

nav {
  font-family: PressStart2P, cursive;
}

.player,
.computer {
  font-family: PressStart2P, cursive;
}

#computer,
#player {
  animation-name: in_and_out;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  height: 120px;
  width: 120px;
}

@keyframes in_and_out {
  0% {
    transform: translateY(10px);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  75% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}
